.help {
    background: white;

    width: 600px;
    height: 600px;
    z-index: 100;
    overflow-y: auto;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -300px 0 0 -300px;
    opacity: 0.5;

    border-radius: 10px;
}

.help:hover {
    opacity: 1.0;
}

.help-header {
    height: 24px;
}

.help .hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 2px;
    cursor: pointer;
}

.help-button {
    width: 24px;
    height: 24px;
    z-index: 100;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: white;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 12px;
}

.help-button:hover {
    opacity: 1.0;
}