.source-selector {
    opacity: 0.4;
    z-index: 14;
    height: 24px;
    position: absolute;
    background: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 6px;
}


.spacer {
    width: 10px;
    display: inline-block;
}

.source-buttons {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.url-button {
    width: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.url-input {
    height: 24px;
    flex-grow: 1;
}

.hidden {
    display: none;
}

.source-file-input {
    font-size: medium;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
}

.source-file-input > input[type="file"] {
    display: none;
}

.source-selector:hover {
    opacity: 1.0;
    z-index: 14;
}

.source-selector select {
    border-radius: 5px;
    margin-right: 2px;
    background: white;
    outline: none;
    /*border-color: #0000aa;*/
}

.source-selector:hover select {
    background: white;
}

.source-metadata {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    width: 30%;
}

.source-name {
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
}

.drop-area {
    position: absolute;
    background: hsla(0, 0%, 90%, 0.3);
    left: 0;
    right: 0;
    top: 20px;
    height: 100vh;
    width: 100%;
}
/** drag n drop */
.dropping .split-view-container {
     filter: blur(2px) grayscale(1);
}
.dropping .help {
    display: none;
}

/* translucent screen */
.dropping::before {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
}

.dropping::after {
    --width: 33vw;
    --height: 20vh;

    content: 'Drop file here';
    border: 2px dashed currentColor;
    border-radius: 5px;
    padding: 25px;

    width: var(--width);
    height: var(--height);
    min-width: 250px;
    position: absolute;
    top: calc(50vh - var(--height));
    left: calc(25vw - var(--width)/2); /* middle of half the viewport */

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #ffffffe6;
    font-size: 35px;
    font-weight: 600;
}